<footer class="footer">
    <div class="social-networks">
        <ul>
            <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
            </li>
            <li><a href="https://twitter.com/"
                    target="_blank"><i class="fab fa-twitter-square"> </i></a>
            </li>
            <li><a href="https://www.instagram.com/dylan_thomas_shine/" target="_blank"><i class="fab fa-instagram-square"></i></a>
            </li>
            <li><a href="https://www.linkedin.com/in/dylan-shine-39534966/" target="_blank"><i class="fab fa-linkedin"></i></a>
            </li>
            
        </ul>
        <ul>
            <li>
                <strong class="bulitt logo-font text-black my-0 text-shadow ">© Bulitt Creations 2023</strong>
            </li>
        </ul>
        
    </div>

</footer>