<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Options
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">Alphabetically</a>
                <a href="{% url 'products' %}" class="dropdown-item">All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=portraits" class="dropdown-item">Portraits</a>
                <a href="{% url 'products' %}?category=paintings" class="dropdown-item">Paintings</a>
                <a href="{% url 'products' %}?category=photography" class="dropdown-item">Photography</a>
                <a href="{% url 'products' %}?category=macros" class="dropdown-item">Macros</a>
                <a href="{% url 'products' %}?category=2000ad" class="dropdown-item">2000AD</a>
                <a href="{% url 'products' %}?category=sketches" class="dropdown-item">Sketches</a>
                <a href="{% url 'products' %}?category=caricatures" class="dropdown-item">Caricatures</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Creations</a>
            </div>
        </li>

        
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                New
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_creations" class="dropdown-item">Recently Added</a>
                <a href="{% url 'products' %}?category=special_offers" class="dropdown-item">Special Offers</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Creations</a>
            </div>
        </li>


        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Contact
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a target="_blank" href="{% url 'contact' %}"class="dropdown-item">Contact Form</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Request Commission
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a target="_blank" href="{% url 'commission' %}"class="dropdown-item">Commission Form</a>
            </div>
        </li>
    </ul>
</div>